.navbar-static-top {
  margin-bottom:0px;
}

.short-img
{
	margin-top:10%;
	margin-bottom:10%;
	height:80%;
}

.add-contact-warning
{
	padding:4px 15px;
	color:red;
}

#user_page-title
{
  text-align: center;
  padding-top:35px;
  padding-bottom:35px;
  margin-bottom:25px;
  padding-left:15px;
   padding-right:15px;
   
       font-family: 'Open Sans', sans-serif;
    color: #4e4e4e;
    
    
    
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,9cbcf4+100&amp;1+0,0.33+100 */
background: -moz-linear-gradient(left,  rgba(240,249,255,1) 0%, rgba(203,235,255,0.69) 47%, rgba(156,188,244,0.33) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,0.69)), color-stop(100%,rgba(156,188,244,0.33))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(240,249,255,1) 0%,rgba(203,235,255,0.69) 47%,rgba(156,188,244,0.33) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(240,249,255,1) 0%,rgba(203,235,255,0.69) 47%,rgba(156,188,244,0.33) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(240,249,255,1) 0%,rgba(203,235,255,0.69) 47%,rgba(156,188,244,0.33) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(240,249,255,1) 0%,rgba(203,235,255,0.69) 47%,rgba(156,188,244,0.33) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#549cbcf4',GradientType=1 ); /* IE6-9 */

}

#user_page-title h2
{
	font-size:600;
}


i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}

.nav li.contact_acolor {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
