.navbar-static-top {
  margin-bottom:0px;
}

#create_cercle_table
{
	width:100%;
}

#create_cercle_table tr td.create_cercle_main_cell
{
	white-space:nowrap;
	padding:15px 15px;
	vertical-align:top;
}

#create_cercle_table tr td:last-child
{
	width:100%;
}

.empty_list_info
{
	font-size:12px;
}

.create_cercle_admin_pseudo
{
	color:#000099;
}

.create_cercle_member_pseudo
{
	color:#006600;
}

.create_cercle_select
{
	width:100%;
	/* overflow:hidden; */
}

#create_cercle_table input.add_user_cercle
{
	width:43%; 
	margin-bottom:7px;
	font-size:12px;
}

.create_cercle_role_management
{
	width:100%;
	margin-bottom:15px;
	
}

.create_cercle_role_management tr td
{
	padding-top:0px;
	padding-bottom:3px;
}

.create_cercle_role_management tr td:first-child
{
	width:96%;
}

.create_cercle_role_management tr:last-child
{
	padding-bottom:15px;
}


textarea.form-control
{
	resize:vertical ;
}

.short-img
{
	margin-top:10%;
	margin-bottom:10%;
	height:80%;
}

.col-md-6-wide
{
	width:100%;
}

.add-contact-warning
{
	padding:4px 15px;
	color:red;
	font-size:12px;
}

.add-cercle-user-warning
{
	padding:4px 0px;
	color:red;
	font-size:12px;
}

.add-contact-confirm
{
	padding:4px 15px;
	color:green;
	font-size:12px;
}

.contact-short-info
{
	padding:4px 15px;
	color:black;
	font-size:12px;
}


#user_page-title
{
  text-align: center;
  padding-top:35px;
  padding-bottom:35px;
  margin-bottom:25px;
  padding-left:15px;
   padding-right:15px;   
  font-family: 'Open Sans', sans-serif;
    color: #4e4e4e;   
    
    
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,9cbcf4+100&amp;1+0,0.33+100 */
	background: -moz-linear-gradient(left,  rgba(240,249,255,1) 0%, rgba(203,235,255,0.69) 47%, rgba(156,188,244,0.33) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,0.69)), color-stop(100%,rgba(156,188,244,0.33))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(240,249,255,1) 0%,rgba(203,235,255,0.69) 47%,rgba(156,188,244,0.33) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(240,249,255,1) 0%,rgba(203,235,255,0.69) 47%,rgba(156,188,244,0.33) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(240,249,255,1) 0%,rgba(203,235,255,0.69) 47%,rgba(156,188,244,0.33) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(240,249,255,1) 0%,rgba(203,235,255,0.69) 47%,rgba(156,188,244,0.33) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#549cbcf4',GradientType=1 ); /* IE6-9 */

}


#cercle_page-title
{
	  text-align: center;
  padding-top:10px;
  padding-bottom:15px;
  margin-bottom:20px;
  padding-left:15px;
   padding-right:15px;   
  font-family: 'Open Sans', sans-serif;
    color: black;   
    
    
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#731b89+0,343159+100&amp;0.19+2,0.55+100 */
	background: -moz-linear-gradient(left,  rgba(115,27,137,0.19) 0%, rgba(114,27,136,0.19) 2%, rgba(52,49,89,0.55) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(115,27,137,0.19)), color-stop(2%,rgba(114,27,136,0.19)), color-stop(100%,rgba(52,49,89,0.55))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(115,27,137,0.19) 0%,rgba(114,27,136,0.19) 2%,rgba(52,49,89,0.55) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(115,27,137,0.19) 0%,rgba(114,27,136,0.19) 2%,rgba(52,49,89,0.55) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(115,27,137,0.19) 0%,rgba(114,27,136,0.19) 2%,rgba(52,49,89,0.55) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(115,27,137,0.19) 0%,rgba(114,27,136,0.19) 2%,rgba(52,49,89,0.55) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30731b89', endColorstr='#8c343159',GradientType=1 ); /* IE6-9 */

}


#cercle_create-title
{
  text-align: center;
  padding-top:35px;
  padding-bottom:35px;
  margin-bottom:25px;
  padding-left:15px;
   padding-right:15px;   
  font-family: 'Open Sans', sans-serif;
    color: black;   
    
    
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#731b89+0,343159+100&amp;0.19+2,0.55+100 */
	background: -moz-linear-gradient(left,  rgba(115,27,137,0.19) 0%, rgba(114,27,136,0.19) 2%, rgba(52,49,89,0.55) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(115,27,137,0.19)), color-stop(2%,rgba(114,27,136,0.19)), color-stop(100%,rgba(52,49,89,0.55))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(115,27,137,0.19) 0%,rgba(114,27,136,0.19) 2%,rgba(52,49,89,0.55) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(115,27,137,0.19) 0%,rgba(114,27,136,0.19) 2%,rgba(52,49,89,0.55) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(115,27,137,0.19) 0%,rgba(114,27,136,0.19) 2%,rgba(52,49,89,0.55) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(115,27,137,0.19) 0%,rgba(114,27,136,0.19) 2%,rgba(52,49,89,0.55) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30731b89', endColorstr='#8c343159',GradientType=1 ); /* IE6-9 */

}


.btn-primary {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}


.btn-primary:hover, 
.btn-primary:focus{
  background: #9C2527;
  outline: none;
  box-shadow: none;
} 

#user_page-title h2
{
	font-size:600;
}


i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}

.nav li.contact_acolor {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
