<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Projet Cercle - 401</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link href="css/bootstrap-corlate.min.css" rel="stylesheet" />
	<link href="css/font-awesome.min.css" rel="stylesheet" />
	<link href="css/animate.min.css" rel="stylesheet" />
	<link href="css/prettyPhoto.css" rel="stylesheet" />
	<link href="css/main.css" rel="stylesheet" />
	<link href="css/responsive.css" rel="stylesheet" />


</head>
<body class="homepage">

	<header id="header">
		<nav class="navbar navbar-inverse" role="banner">
			<div class="container">

				<div class="navbar-header">
					<a class="navbar-brand" href="home"><img
						src="../img/cercle_logo.png" alt="logo" /></a>
				</div>

				<div class="collapse navbar-collapse navbar-right">

					<ul class="nav navbar-nav">
						<li><a href="home">Accueil</a></li>
						<li><a href="telechargement">Téléchargement</a></li>
						<li><a href="inscription" >Inscription</a></li>
						<li><a href="tarification">Tarification</a></li>




					</ul>
				</div>
			</div>
			<!--/.container-->
		</nav>
	</header>

	<section id="error" class="container text-center">
        <h1>401, droits insuffisant</h1>
        <p>Vos droits d'accès ne vous permettent pas d'acceder à cette page.</p>
        <a class="btn btn-primary" href="home">RETOUR SUR LA PAGE D'ACCUEIL</a>
    </section><!--/#error-->





	<footer id="footer" class="midnight-blue">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">&copy; 2015 Cercle. All Rights Reserved.
				</div>

			</div>
		</div>
	</footer>
	<!--/#footer-->






</body>
</html>