<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Cercle - Page cercle</title>
<script type="text/javascript">
	var url = window.location.search;
	var websocket = new WebSocket('ws://localhost:8080/chatServerEndpoint/'
			+ url.substring(url.lastIndexOf("=") + 1));
	websocket.onmessage = function processMessage(message) {
		var json = JSON.parse(message.data);
		var msg = JSON.stringify(json.message);
		var sConn = "\" vient de se connecter.\"";
		var sDeco = "\" vient de se déconnecter.\"";
		if (JSON.stringify(json.message).valueOf() === sConn.valueOf())
			//si on est l'utilisateur qui vient de se connecter
			if (json.name == document.getElementById('connectedusername').innerText)
				document.getElementById('messages').value += 'Vous êtes maintenant connecté au tchat. '
						+ '\n';
			else {
				document.getElementById('messages').value += json.name
						+ json.message + '\n';
			}
		else if (JSON.stringify(json.message).valueOf() === sDeco.valueOf()) {
			//si on est l'utilisateur qui vient de se déconnecter
			if (json.name == document.getElementById('connectedusername').innerText)
				document.getElementById('messages').value += 'Vous êtes maintenant déconnecté du tchat. '
						+ '\n';
			else
				document.getElementById('messages').value += json.name
						+ json.message + '\n';

		}

		else {//un simple message 
			document.getElementById('messages').value += json.name + ': '
					+ json.message + '\n';
		}
	}

	function ConnectToChat() {
		var ConnectedUserName = document.getElementById('connectedusername').innerText;
		var s = "tryConnectAs " + ConnectedUserName;
		websocket.send(JSON.stringify({
			'message' : s
		}));
	}

	function send() {
		var message = document.getElementById('message');
		websocket.send(JSON.stringify({
			'message' : message.value
		}));
		message.value = "";
	}

	function closeSocket() {
		websocket.onclose = function() {
		};
		websocket.close();
	};
	/*
	 window.onbeforeunload = function() {
	 websocket.onclose = function() {
	 };
	 websocket.close();
	 };*/
</script>


	<link href="css/bootstrap-boardstyle.min.css" rel="stylesheet" />
	<link href="css/boardstyle.css" rel="stylesheet" />

</head>
<body onload="ConnectToChat()">
	<!-- header -->
	<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">

				<img class="short-img" src="../corlate/img/cercle_logo_min.png"
					alt="logo" />
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a onclick="closeSocket()" href="user_page"><i
							class="glyphicon glyphicon-arrow-left"></i>&nbsp;Retour à
							l'espace utilisateur</a></li>
					<li class="dropdown"><a class="dropdown-toggle" role="button"
						data-toggle="dropdown" href="#"> <i
							class="glyphicon glyphicon-user"></i> <span
							id="connectedusername" th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
							<span class="caret"></span>
					</a>
						<ul id="g-account-menu" class="dropdown-menu" role="menu">
							<li><a href="user_param"> <i
									class="glyphicon glyphicon-cog"></i> Vos paramètres
							</a></li>
							<li><a th:href="@{/logout}"> <i
									class="glyphicon glyphicon-off"></i> Se déconnecter
							</a></li>
						</ul></li>

				</ul>
			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /Header -->


	<div id="cercle_page-title">
		<h2 th:text="${currentCercle.name}"></h2>
		<p th:text="${currentCercle.description}">Description du cercle à
			charger</p>
	</div>



	<!-- Corps de la page  -->

	<!-- Main -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<!-- Left column -->

				<a href="#"><i class="glyphicon glyphicon-list"></i> <strong
					th:text="'Cercle '+${currentCercle.name}"></strong></a>

				<hr />

				<ul class="nav nav-stacked">

					<li class="nav-header"><a data-toggle="collapse"
						data-target="#cerclesUser"> Membres <i
							class="glyphicon glyphicon-chevron-down"></i>
					</a>
						<ul class="nav nav-stacked collapse in" id="cerclesUser">

							<li th:each="userAdmin : ${cercle_admins}"><a href="#">
									<i class="glyphicon glyphicon-eye-open" rel="tooltip"
									title="Administrateur"></i> <span th:text="${userAdmin.pseudo}"></span>
							</a></li>
							<li th:each="userMembre : ${cercle_membres}"><a href="#">
									<i class="glyphicon glyphicon-user"></i> <span
									th:text="${userMembre.pseudo}"></span>
							</a></li>
						</ul></li>


				</ul>

				<hr />


				<a href="#"><i class="glyphicon glyphicon-list"></i> <strong>Social</strong></a>

				<hr />

				<ul class="nav nav-stacked">

					<li
						th:if="${(new_contact_to_confirm != null) and (new_contact_to_confirm.size() != 0)}"
						class="nav-header"><a data-toggle="collapse"
						data-target="#menu4"> Demande d'ajout <span
							class="badge badge-info"
							th:text="${new_contact_to_confirm.size()}"></span><i
							class="glyphicon glyphicon-chevron-down"></i>
					</a>


						<ul class="nav nav-stacked collapse" id="menu4">

							<li class="contact_acolor"
								th:each="newUser : ${new_contact_to_confirm}"><a href="#">

									<form
										th:action="@{'/cercle_page/confirm_adduser/'+${newUser.pseudo}+'?cercle='+${currentCercle.id}}"
										method="post">
										<i class="glyphicon glyphicon-upload"></i> <span
											th:text="${newUser.pseudo}"></span> <input type="submit"
											name="confirm_add" value="Accepter" /> <input type="submit"
											name="confirm_add" value="Refuser" />
									</form>

							</a></li>

						</ul></li>

					<li class="nav-header"><a data-toggle="collapse"
						data-target="#menu3"> Ajouter un contact <i
							class="glyphicon glyphicon-plus"></i>
					</a>

						<ul th:if="${(param.add_request != null)}"
							class="nav nav-stacked collapse in" id="menu3">

							<li class="contact_acolor"><a href="#">
									<form id="add_contact_form"
										th:action="@{'/cercle_page/adduser?cercle='+${currentCercle.id}}"
										method="post">
										<input type="text" th:field="*{user_added.value}"
											value="Saisir un pseudo" name="value" required="required" />
										<input type="submit" value="Ok" />
									</form>
							</a></li>
							<li class="add-contact-warning"
								th:if="${(param.add_request[0] == 'you_cannot_add_yourself')}">
								Vous ne pouvez pas vous ajouter vous-même!</li>
							<li class="add-contact-warning"
								th:if="${(param.add_request[0] == 'user_does_not_exist')}">
								L'utilisateur que vous avez demandé n'existe pas.</li>
							<li class="add-contact-confirm"
								th:if="${(param.add_request[0] == 'ok')}">Demande d'ajout
								envoyée.</li>
							<li class="add-contact-warning"
								th:if="${(param.add_request[0] == 'user_already_in_list')}">
								L'utilisateur demandé est déjà dans votre liste de contact.</li>
							<li class="add-contact-warning"
								th:if="${(param.add_request[0] == 'user_already_requested')}">
								Demande d'ajout déjà envoyée, en cours d'attente de validation.
							</li>



						</ul>
						<ul th:if="${(param.add_request == null)}"
							class="nav nav-stacked collapse" id="menu3">

							<li class="contact_acolor"><a href="#">
									<form id="add_contact_form"
										th:action="@{'/cercle_page/adduser?cercle='+${currentCercle.id}}"
										method="post">
										<input type="text" th:field="*{user_added.value}"
											value="Saisir un pseudo" name="value" /> <input
											type="submit" value="Ok" />
									</form>
							</a></li>

						</ul></li>

					<li class="nav-header"><a data-toggle="collapse"
						data-target="#userMenu"> Vos contacts <i
							class="glyphicon glyphicon-chevron-down"></i>
					</a>
						<ul class="nav nav-stacked collapse in" id="userMenu">

							<li class="contact-short-info"
								th:if="${(contacts == null) or (contacts.size() == 0)}">
								Votre liste de contacts est vide.</li>
							<li th:each="userC : ${contacts}"><a href="#"> <i
									class="glyphicon glyphicon-user"></i> <span
									th:text="${userC.pseudo}"></span>
							</a></li>
						</ul></li>


				</ul>


			</div>
			<!-- /col-3 -->

			<div class="col-sm-9">

				<!--tabs-->
				<div class="panel">
					<ul class="nav nav-tabs" id="myTab">
						<li class="active"><a href="#chat" data-toggle="tab">Tchat</a></li>
						<li><a href="#documents" data-toggle="tab">Documents</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active well" id="chat">
							<h1>Tchat</h1>

							<div class="container">
								<div class="row">
									<div class="col-xs-8">
										<textarea id="messages" readonly="readonly"
											style="width: 100%;" rows="15"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6" style="margin-top: 10px;">
										<input type="text" id="message" class="form-control"
											placeholder="Ecrivez votre message ici." />
									</div>
									<div class="col-xs-2">
										<button value="Envoyer" class="btn btn-primary btn-sm"
											onclick="send();" style="width: 100%;">Envoyer</button>
									</div>
								</div>
							</div>

							<!--
							<textarea id="messages" readonly="readonly" rows="10" cols="45"></textarea>
							<br></br> <input type="text" id="message" size="50"></input> <input
								type="button" value="Envoyer" onclick="send();"></input>
							-->




							<!--
							<textarea id="messages" readonly="readonly" rows="10" cols="45"></textarea>
							<canvas id="Moncanvas" width="330" height="200"></canvas>
							<br></br> 
							<input type="text" id="message" size="50"></input>
							<input type="button" value="Envoyer le message" onclick="send();"></input>
							<input type="button" value="Effacer" onclick="toggleState(this)"></input>
							<input id="colorChooser" type="color" onchange="chooseColor(colorChooser.value)"></input>
							-->
						</div>
						<div class="tab-pane well" id="documents">
							<h1>Documents</h1>


							<table class="table table-striped">
								<tr>
									<td id="s"><b>Nom du fichier</b></td>
									<td id="s"><b>Description</b></td>
								</tr>

								<tr th:each="unFichier : ${cercle_fichiers}">
									<td><a th:text="${unFichier.name}"
										th:href="@{/download(fichier=${unFichier.getId()},cercle=${currentCercle.getId()})}"></a></td>
									<td th:text="${unFichier.description}"></td>
									<td><a
										th:href="@{/download(fichier=${unFichier.getId()},cercle=${currentCercle.getId()})}">
											<button type="button" class="btn btn-primary btn-xs active" style="margin-top:1px; margin-bottom:1px;">Télécharger</button>
									</a></td>

									<td><a
										th:href="@{/deletefichier(fichier=${unFichier.getId()},cercle=${currentCercle.getId()})}">
											<button type="button" class="btn btn-primary btn-xs active" style="margin-top:1px;margin-bottom:1px;">Supprimer</button>
									</a></td>

								</tr>
							</table>

							<button class="btn btn-primary" onclick="$('#formAddFichier').toggle();" style="margin-top: 30px;">Ajouter un fichier</button>

							<div id="formAddFichier" style="display: none">
								<form class="form-horizontal" method="POST"
									enctype="multipart/form-data"
									th:action="@{'/cercle_page/upload'+'?cercleid='+${currentCercle.id}}">


									<div class="form-group">
										<label for="file" class="col-sm-2 control-label">Parcourir...</label>
										<div class="col-sm-10">
											<input type="file" class="form-control" id="file" name="file"
												placeholder="filePath" required="true"></input>
										</div>
									</div>
									<div class="form-group">
										<label for="name" class="col-sm-2 control-label">Nom
											du fichier</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="name" name="name"
												placeholder="Nom du Fichier" required="true"></input>
										</div>
									</div>

									<div class="form-group">
										<label for="description" class="col-sm-2 control-label">Description</label>
										<div class="col-sm-10">
											<textarea class="form-control" id="description"
												name="description" rows="3"></textarea>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<button type="submit" class="btn btn-primary">Upload</button>
										</div>
									</div>

								</form>
							</div>
						</div>

					</div>

				</div>
				<!--/tabs-->


			</div>
			<!--/col-span-9-->



		</div>
	</div>



	<script	src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/scripts.js"></script>

</body>
</html>


