<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Projet Cercle - Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Bootstrap -->
<!-- 
    <link th:href="@{/resources/static/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" /> 
    <link href="resources/static/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
	    <link th:href="@{../static/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" /> 
	
    -->
<!--  <link href="bootstrap/css/bootstrap.min.css"/> -->
<link href="corlate/css/bootstrap.min.css" rel="stylesheet" />
<link href="corlate/css/font-awesome.min.css" rel="stylesheet" />
<link href="corlate/css/animate.min.css" rel="stylesheet" />
<link href="corlate/css/prettyPhoto.css" rel="stylesheet" />
<link href="corlate/css/main.css" rel="stylesheet" />
<link href="corlate/css/responsive.css" rel="stylesheet" />

</head>
<body class="homepage">

	<header id="header">
		<nav class="navbar navbar-inverse" role="banner">
			<div class="container">

				<div class="navbar-header">
					<a class="navbar-brand" href="#"><img
						src="../corlate/img/cercle_logo.png"
						th:href="@{img/cercle_logo.png}" alt="logo" /></a>
				</div>

				<div class="collapse navbar-collapse navbar-right">

					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Accueil</a></li>
						<li><a href="telechargement">Téléchargement</a></li>
						<li><a href="inscription">Inscription</a></li>
						<li><a href="tarification">Tarification</a></li>




					</ul>
				</div>
			</div>
			<!--/.container-->
		</nav>
	</header>


	<section id="services" class="service-item">
		<div class="container">

			<div class="row">
				<div class="col-sm-8">
					<div class="media contact-info wow fadeInDown"
						data-wow-duration="1000ms" data-wow-delay="600ms">
						<div class="pull-left"></div>
						<div class="media-body">
							<br /> <br /> <br /> <br />
							<h2>Pour des projets rondement menés</h2>
							<p>
								Cercle est un gestionnaire de projet comprenant différents
								moyens de faciliter votre travail en commun. <br></br> D'un
								système de messagerie comprenant conversations de groupes et
								privés entre utilisateur à un système de drive propre à chaque
								projet. <br></br> Les aspects les plus importants du travail en
								commun sont inclus dans ce gestionnaire.
							</p>
							<br /> <br /> <br /> <br />
						</div>
					</div>
				</div>
			</div>


		</div>
	</section>
	<!--/#services-->




	<div id="index_login">
		<form th:action="@{/home}" method="POST">


			<table>
				<tr>
					<td><br />
					<br />
					<br />
					<br /></td>
				</tr>
				<tr>
					<td>Identifiant :</td>
					<td><input type="text" name="username"/></td>

				</tr>
				<tr>
					<td>Mot de passe :</td>
					<td><input type="password" name="password"/></td>
				</tr>

			</table>
			<br />  <input type="submit" class="btn btn-primary btn-lg"
				value="Se connecter" />
			<div th:if="${param.error}">
				<br /> Utilisateur et/ou mot de passe incorrect.
			</div>
			<div th:if="${param.logout}">
				<br /> Vous vous êtes déconnecté avec succès!
			</div>
			


			<br />
			<br />
			<br />
			<br />
			<br />
			<br />

		</form>
	</div>










	<footer id="footer" class="midnight-blue">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">&copy; 2015 Cercle. All Rights Reserved.
				</div>

			</div>
		</div>
	</footer>
	<!--/#footer-->






</body>
</html>
