<html  xmlns:th="http://www.thymeleaf.org">
<head>
<title>Projet Cercle - Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Bootstrap -->
<!-- 
    <link th:href="@{/resources/static/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" /> 
    <link href="resources/static/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
	    <link th:href="@{../static/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" /> 
	
    -->

    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />


</head>
<body>
	<table>
		<tr>
			<td>
				<h1>Projet Cercle</h1>
				<h2> Bouton Téléchargement</h2>
				<h2> Bouton Inscription</h2>
				<h2> Bouton Tarification</h2>
				
			</td>
		</tr>
		<tr>
			<td>
				<h3>Pour des projets rondement menés</h3>
			</td>
		</tr>
		<tr>
			<td>Cercle est un gestionnaire de projet comprenant différents moyens de faciliter votre travail de groupe. <br></br>
			D'un système de messagerie comprenant conversations de groupes et privés entre utilisateur à un système de drive propre à chaque projet. <br></br>
			Les aspects les plus importants du travail en commun sont inclu dans le gestionnaire.<br></br>
			
				
			</td>

			<td> Identifiant </td> <input type="id" value="Identifiant" /> 
			<td> Mot de passe </td> <input type="password" value="password" /> 
			<input type="button" value="Se connecter" /> 

		</tr>
	</table>
</body>
</html>