<html  xmlns:th="http://www.thymeleaf.org">
<head>
<title>Projet Cercle - Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Bootstrap -->
<!-- 
    <link th:href="@{/resources/static/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" /> 
    <link href="resources/static/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
	    <link th:href="@{../static/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" /> 
	
    -->

    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />


</head>
<body>
	<table>
		<tr>
			<td>
				<h1>Projet Cercle</h1>
			</td>
		</tr>
		<tr>
			<td>
				<h3>Slogan</h3>
			</td>
		</tr>
		<tr>
			<td>Description du projet, de son utilité, de ses outils, de ses
				avantages, etc.
				
			</td>
		</tr>
	</table>
</body>
</html>