<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Projet Cercle - Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link href="css/bootstrap-corlate.min.css" rel="stylesheet" />
	<link href="css/font-awesome.min.css" rel="stylesheet" />
	<link href="css/animate.min.css" rel="stylesheet" />
	<link href="css/prettyPhoto.css" rel="stylesheet" />
	<link href="css/main.css" rel="stylesheet" />
	<link href="css/responsive.css" rel="stylesheet" />

</head>
<body class="homepage">

	<header id="header">
		<nav class="navbar navbar-inverse" role="banner">
			<div class="container">

				<div class="navbar-header">
					<a class="navbar-brand" href="home"><img
						src="../img/cercle_logo.png" alt="logo" /></a>
				</div>

				<div class="collapse navbar-collapse navbar-right">

					<ul class="nav navbar-nav">
						<li><a href="home">Accueil</a></li>
						<li><a href="telechargement">Téléchargement</a></li>
						<li class="active"><a href="#">Inscription</a></li>
						<li><a href="tarification">Tarification</a></li>




					</ul>
				</div>
			</div>
			<!--/.container-->
		</nav>
	</header>


	<section id="contact-page">
		<div class="container">
			<div class="center">
				<br /> <br /> <br /> <br />
				<h2>Inscription</h2>
			</div>
			<div class="center error_message " th:if="${(param.user_exist != null) and (param.user_exist[0] == 'true')}">
				<b>L'identifiant que vous avez saisi est déjà utilisé. Veuillez donc saisir un autre identifiant.</b>
			</div>
			<div class="center error_message " th:if="${(param.same_password != null) and (param.same_password[0] == 'false')}">
				<b>Les 2 mots de passe que vous avez saisis ne sont pas identiques.</b>
			</div>
			
			<div class="row contact-wrap">
				<div class="status alert alert-success" style="display: none"></div>
				<form id="main-contact-form"  class="contact-form"
					 method="post" >

					<div class="col-sm-5 col-sm-offset-1">
						<div class="form-group">
							<label>Identifiant *</label> <input type="text" th:field="*{user.pseudo}" class="form-control" required="required" maxlength="20" />
						</div>
						<div class="form-group">
							<label>Mot de passe *</label> <input type="password"
								name="password1" class="form-control" th:field="*{user.password}" required="required" maxlength="30" />
						</div>
						<div class="form-group">
							<label>Confirmez le mot de passe *</label> <input type="password"
								name="password2" th:field="*{pw_verif.value}" class="form-control" required="required" maxlength="30" />
						</div>
						<div class="form-group">
							<label>E-mail *</label> <input type="email"  th:field="*{user.mail}" name="mail"
								class="form-control" required="required" maxlength="100" />
						</div>



					</div>
					<div class="col-sm-5">
											<div class="form-group">
							<label>Nom *</label> <input type="text" name="nom"  th:field="*{user.nom}"
								class="form-control" required="required" maxlength="35" />
						</div>
						<div class="form-group">
							<label>Prénom *</label> <input type="text" name="prenom"  th:field="*{user.prenom}"
								class="form-control" required="required" maxlength="35" />
						</div>
						<div class="form-group">
							<label>Téléphone</label> <input type="text" name="tel" th:field="*{user.tel}"
								class="form-control" maxlength="30" />
						</div>
						<div class="form-group">
							<label>Rue</label> <input type="text" name="adresse_rue" th:field="*{user.adresse_rue}"
								class="form-control" maxlength="180" />
						</div>
						<div class="form-group">
							<label>Ville</label> <input type="text" name="adresse_ville" th:field="*{user.adresse_ville}"
								class="form-control" maxlength="50"/>
						</div>
						<div class="form-group">
							<label>Code postal :</label> <input type="text" name="adresse_cp" th:field="*{user.adresse_CP}"
								class="form-control" maxlength="5" />
						</div>

						<div class="form-group">
							<button type="submit" name="submit"
								class="btn btn-primary btn-lg" required="required">Valider</button>
						</div>
					</div>
					


				</form>
			</div>
			<!--/.row-->
			

		</div>
		<!--/.container-->
	</section>
	<!--/#contact-page-->
	





	<footer id="footer" class="midnight-blue">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">&copy; 2015 Cercle. All Rights Reserved.
				</div>

			</div>
		</div>
	</footer>
	<!--/#footer-->



<script src="boardstyle/js/bootstrap.min.js"></script>


</body>
</html>