<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Projet Cercle - Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link href="css/bootstrap-corlate.min.css" rel="stylesheet" />
	<link href="css/font-awesome.min.css" rel="stylesheet" />
	<link href="css/animate.min.css" rel="stylesheet" />
	<link href="css/prettyPhoto.css" rel="stylesheet" />
	<link href="css/main.css" rel="stylesheet" />
	<link href="css/responsive.css" rel="stylesheet" />

</head>
<body class="homepage">

	<header id="header">
		<nav class="navbar navbar-inverse" role="banner">
			<div class="container">

				<div class="navbar-header">
					<a class="navbar-brand" href="home"><img
						src="../img/cercle_logo.png"
						alt="logo" /></a>
				</div>

				<div class="collapse navbar-collapse navbar-right">

					<ul class="nav navbar-nav">
						<li><a href="home">Accueil</a></li>
						<li><a href="telechargement">Téléchargement</a></li>
						<li><a href="inscription">Inscription</a></li>
						<li><a href="tarification">Tarification</a></li>




					</ul>
				</div>
			</div>
			<!--/.container-->
		</nav>
	</header>




	<div class="center" th:if="${(param.signin != null) and (param.signin[0] == 'ok')}">
			<br /><br /><br /><b>Inscription réalisée avec succès! Vous pouvez dès à présent vous connecter.</b>
			</div>


	<div id="index_login">
		<form th:action="@{/login}" method="POST">


			<table>
				<tr>
					<td><br /> <br /> <br /> <br /></td>
				</tr>
				<tr>
					<td>Identifiant :</td>
					<td><input type="text" name="username" class="form-control" /></td>

				</tr>
				<tr>
					<td><br /></td>
				</tr>
				<tr>
					<td>Mot de passe :</td>
					<td><input type="password" name="password"
						class="form-control" /></td>
				</tr>

			</table>
			<br /> <br /><input type="submit" class="btn btn-primary btn-lg"
				value="Se connecter" />
			<div th:if="${param.error}">
				<br /> Utilisateur et/ou mot de passe incorrect.
			</div>
			<div th:if="${param.logout}">
				<br /> Vous vous êtes déconnecté avec succès!
			</div>




			<br /> <br /> <br /> <br /> <br /> <br />

		</form>
	</div>










	<footer id="footer" class="midnight-blue">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">&copy; 2015 Cercle. All Rights Reserved.
				</div>

			</div>
		</div>
	</footer>
	<!--/#footer-->






</body>
</html>
