<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Projet Cercle - Tarification</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Bootstrap -->
<!-- 
    <link th:href="@{/resources/static/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" /> 
    <link href="resources/static/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
	    <link th:href="@{../static/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" /> 
	
    -->
<!--  <link href="bootstrap/css/bootstrap.min.css"/> -->
<link href="corlate/css/bootstrap.min.css" rel="stylesheet" />
<link href="corlate/css/font-awesome.min.css" rel="stylesheet" />
<link href="corlate/css/animate.min.css" rel="stylesheet" />
<link href="corlate/css/prettyPhoto.css" rel="stylesheet" />
<link href="corlate/css/main.css" rel="stylesheet" />
<link href="corlate/css/responsive.css" rel="stylesheet" />

</head>
<body class="homepage">

	<header id="header">
		<nav class="navbar navbar-inverse" role="banner">
			<div class="container">

				<div class="navbar-header">
					<a class="navbar-brand" href="home"><img
						src="../corlate/img/cercle_logo.png" alt="logo" /></a>
				</div>

				<div class="collapse navbar-collapse navbar-right">

					<ul class="nav navbar-nav">
						<li><a href="home">Accueil</a></li>
						<li><a href="telechargement">Téléchargement</a></li>
						<li><a href="inscription">Inscription</a></li>
						<li class="active"><a href="#">Tarification</a></li>




					</ul>
				</div>
			</div>
			<!--/.container-->
		</nav>
	</header>






<div class="clients-area center wow fadeInDown">
                <h2>Tarification</h2>
</div>

            <div class="row">
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/client1.png" class="img-circle" alt="" />
                        <h3>Gratuit</h3>
                        <h4>-Création d'un cercle </h4>
                        <h4>-5 Go de mémoire alloué </h4>
                        <h4>-Messagerie instantanée entre utilisateurs </h4>
                        <h4>-5000 messages enregistrés </h4>
                        <!--  <a class="btn btn-primary" href="inscription">S'inscrire</a>-->

                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/client2.png" class="img-circle" alt=""/>
                        <h3>Offre premium</h3>
                        <h4>-Accès à toutes les fonctionnalités </h4>
                        <h4>-50 Go de mémoire alloués </h4>
                        <h4>-Pas de limite du nombre de message enregistrés </h4>
                        <!--<a class="btn btn-primary" href="souscription_premium">Souscrire</a>-->
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/client3.png" class="img-circle" alt=""/>
                        <h3>Offre entreprise</h3>
                        <h4>-Accès à toutes les fonctionnalités </h4>
                        <h4>-Accès à la partie serveur de l'application pour le déploiement sur un serveur interne </h4>
                        <h4>-Suivis de l'installation </h4>
                        <h4>-Conseil de sauvegarde (double back up, sécurisation des serveurs)</h4>
                        <!--<a class="btn btn-primary" href="souscription_entreprise">Souscrire</a>-->
                    </div>
                </div>
           </div>



	<footer id="footer" class="midnight-blue">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">&copy; 2015 Cercle. All Rights Reserved.
				</div>

			</div>
		</div>
	</footer>
	<!--/#footer-->






</body>
</html>