<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Projet Cercle - Telechargement</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link href="css/bootstrap-corlate.min.css" rel="stylesheet" />
	<link href="css/font-awesome.min.css" rel="stylesheet" />
	<link href="css/animate.min.css" rel="stylesheet" />
	<link href="css/prettyPhoto.css" rel="stylesheet" />
	<link href="css/main.css" rel="stylesheet" />
	<link href="css/responsive.css" rel="stylesheet" />

</head>
<body class="homepage">

	<header id="header">
		<nav class="navbar navbar-inverse" role="banner">
			<div class="container">

				<div class="navbar-header">
					<a class="navbar-brand" href="index.html"><img src="../img/cercle_logo.png" alt="logo"/></a>
				</div>

				<div class="collapse navbar-collapse navbar-right">

					<ul class="nav navbar-nav">
						<li><a href="home">Accueil</a></li>
						<li class="active"><a href="#">Téléchargement</a></li>
						<li><a href="inscription">Inscription</a></li>
						<li><a href="tarification">Tarification</a></li>

		


					</ul>
				</div>
			</div>
			<!--/.container-->
		</nav>
	</header>



<section id="feature" class="transparent-bg">
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Gestionnaire de téléchargement des applications</h2>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-bullhorn"></i>
                            <h2>Mac OSX</h2>
                            <p class="small_top_margin"><a href="/telechargement/mac" class="input_note">Téléchargement</a></p>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-comments"></i>
                            <h2>Windows</h2>
                            <p class="small_top_margin"><a href="/telechargement/windows" class="input_note">Téléchargement</a></p>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cloud-download"></i>
                            <h2>Linux</h2>
                            <p class="small_top_margin"><a href="/telechargement/linux" class="input_note">Téléchargement</a></p>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-leaf"></i>
                            <h2>iOs</h2>
                            <p class="small_top_margin"><a href="/telechargement/ios" class="input_note">Téléchargement</a></p>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cogs"></i>
                            <h2>Android</h2>
                            <p class="small_top_margin"><a href="/telechargement/android" class="input_note">Téléchargement</a></p>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <h2>Windows Phone</h2>
                            <p class="small_top_margin"><a href="/telechargement/" class="input_note">Téléchargement</a></p>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row--> 
            
	</div>
</section>
<!--/#Téléchargement-->




	<footer id="footer" class="midnight-blue">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">&copy; 2015 Cercle. All Rights Reserved.
				</div>

			</div>
		</div>
	</footer>
	<!--/#footer-->






</body>
</html>