<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Cercle - Page utilisateur</title>

<link href="corlate/css/bootstrap.min.css" rel="stylesheet" />
<link href="corlate/css/font-awesome.min.css" rel="stylesheet" />
<link href="corlate/css/animate.min.css" rel="stylesheet" />
<link href="corlate/css/prettyPhoto.css" rel="stylesheet" />
<link href="corlate/css/main.css" rel="stylesheet" />
<link href="corlate/css/responsive.css" rel="stylesheet" />

</head>
<body>


	<header id="header">



		<nav class="navbar navbar-inverse" role="banner">
			<div class="container">
				<div class="navbar-header">
					<img class="short-img " src="../corlate/img/cercle_logo_min.png"
						alt="logo" />
				</div>

				<div class="collapse navbar-collapse navbar-right">
				<span class="lead" th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
					<ul class="nav navbar-nav-short">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown"><img class="short-img "
								src="../corlate/img/settings-logo.png" alt="logo" /></a>
							<ul class="dropdown-menu">
								<li><a href="#">Paramètres</a></li>
								<li><a th:href="@{/logout}">Se déconnecter</a></li>
							</ul></li>

					</ul>
				</div>
			</div>
			<!--/.container-->
		</nav>
		<!--/nav-->


	</header>
	<!--/header-->

	<section id="blog" class="container">

		<div class="blog">
			<div class="row">
			
			                 <div class="col-md-8">
                    <div class="blog-item">
                        <div class="row">

                            <div class="col-sm-10 blog-content">
                                <h2>Vos cercles</h2>
                                <h3>Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante, elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit, lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.</h3>
                            </div>
                        </div>    
                    </div><!--/.blog-item-->
                            
   
                </div><!--/.col-md-8-->
			
				<aside class="col-md-4">
					<div class="widget archieve">
						<h3>Contact</h3>
						<div class="row">
							<div class="col-sm-12">
								<ul class="blog_archieve">
									<li><a href="#">
											Bob</a></li>
									<li><a href="#">
											Chris</a></li>
									<li><a href="#">
											Franck ----------------------------------------------</a></li>
									</ul>
							</div>
						</div>
					</div>
					<!--/.archieve-->
				</aside>
			</div>
		</div>
	</section>

	<h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>




</body>
</html>


