<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Cercle - Page paramètre utilisateur</title>

	<link href="css/bootstrap-boardstyle.min.css" rel="stylesheet" />
	<link href="css/boardstyle.css" rel="stylesheet" />

</head>
<body>
	<!-- header -->
	<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">

				<img class="short-img" src="../img/cercle_logo_min.png"
					alt="logo" />
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a class="dropdown-toggle" role="button"
						data-toggle="dropdown" href="#"><i
							class="glyphicon glyphicon-user"></i> <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
							<span class="caret"></span></a>
						<ul id="g-account-menu" class="dropdown-menu" role="menu">
							<li><a href="user_param"><i
									class="glyphicon glyphicon-cog"></i> Vos paramètres</a></li>
							<li><a th:href="@{/logout}"><i
									class="glyphicon glyphicon-off"></i> Se déconnecter</a></li>
						</ul></li>

				</ul>
			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /Header -->


	<div id="user_page-title">
		<h2>Paramètres utilisateur</h2>
		<p>Vous pouvez ici modifier les différentes informations liés à
			votre compte.</p>
	</div>

<br/>

	<div class="container-fluid">
		<form id="main-param-form" class="param-form" method="post" th:object="${user}">

			
			<p th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">Nom invalide</p>
			<p th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}">Prénom invalide</p>
			


			<div class="row">
				<div class="col-sm-5 col-sm-offset-1">
					<div class="form-group">
						<label>Nom *</label> <input type="text" name="nom"
							class="form-control" required="required" maxlength="35"
							th:field="*{nom}"/>
							
					</div>
					<div class="form-group">
						<label>Prénom *</label> <input type="text" name="prenom" 
							class="form-control" required="required" maxlength="35"
							th:field="*{prenom}"/>
							
					</div>
					
					<!-- 
					<div class="form-group">
						<label>Mot de passe *</label> <input type="password"
							name="password1" class="form-control" />
					</div>

					<div class="form-group">
						<label>Confirmez le mot de passe *</label> <input type="password"
							name="password2" class="form-control" />
					</div>
			 		-->
			 		
					<div class="form-group">
						<label>E-mail *</label> <input type="email" name="mail"
							class="form-control" required="required" maxlength="100"
							th:value="*{mail}"/>
					</div>

				</div>
				<div class="col-sm-5">
					<div class="form-group">
						<label>Téléphone</label> <input type="text" name="tel" maxlength="30"
							class="form-control" 
							th:value="*{tel}"/>
					</div>
					<div class="form-group">
						<label>Rue</label> <input type="text" name="adresse_rue" maxlength="180"
							class="form-control" 
							th:value="*{adresse_rue}"/>
					</div>
					<div class="form-group">
						<label>Ville</label> <input type="text" name="adresse_ville" maxlength="50"
							class="form-control"
							th:value="*{adresse_ville}"/>
					</div>
					<div class="form-group">
						<label>Code postal :</label> <input type="text" name="adresse_CP" maxlength="5"
							class="form-control"
							th:value="*{adresse_CP}"/>
					</div>
				</div>
			</div>
			
			<br/>
			<br/>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group" align="center">
						<input type="submit" name="submit" value="Enregistrer les modifications" class="btn btn-primary btn-lg"/>						
						<a th:href="@{/user_page}"><button type="button" class="btn btn-primary btn-lg">Annuler</button></a>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<script	src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/scripts.js"></script>


</body>
</html>


