<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Cercle - Page utilisateur</title>

    <link href="boardstyle/css/bootstrap.min.css" rel="stylesheet" />
    <link href="boardstyle/css/styles.css" rel="stylesheet" />

</head>
<body>


    <!-- header -->
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">

                <img class="short-img" src="../corlate/img/cercle_logo_min.png"
                     alt="logo" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button"
                           data-toggle="dropdown" href="#">
                            <i class="glyphicon glyphicon-user"></i> <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
                            <span class="caret"></span>
                        </a>
                        <ul id="g-account-menu" class="dropdown-menu" role="menu">
                            <li>
                                <a href="user_param">
                                    <i class="glyphicon glyphicon-cog"></i>
                                    Vos paramètres
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/logout}">
                                    <i class="glyphicon glyphicon-off"></i> Se déconnecter
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /Header -->


    <div id="user_page-title">
        <h2>Votre espace de travail</h2>
        <p>
            Vous pouvez ici avoir un aperçu rapide des différents cercles
            auquels vous appartenez.
        </p>


    </div>



    <!-- Main -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <!-- Left column -->
                <a href="#"><i class="glyphicon glyphicon-list"></i> <strong>Social</strong></a>

                <hr />

                <ul class="nav nav-stacked">
                
                 <li th:if="${(new_contact_to_confirm != null) and (new_contact_to_confirm.size() != 0)}" class="nav-header">
                        <a data-toggle="collapse" data-target="#menu4">
                            Demande d'ajout <span class="badge badge-info" th:text="${new_contact_to_confirm.size()}"></span><i class="glyphicon glyphicon-chevron-down"></i>
                        </a>


                        <ul class="nav nav-stacked collapse" id="menu4">

                            <li class="contact_acolor"  th:each="newUser : ${new_contact_to_confirm}">
                                <a href="#">
                                
                                    <form  th:action="@{'/user_page/confirm_adduser/'+${newUser.pseudo}}"
                                          method="post">
                                        <i class="glyphicon glyphicon-upload"></i> 
                                        <span th:text="${newUser.pseudo}"></span>   
                                                                             
                                        <input type="submit" name="confirm_add" value="Accepter" />
                                        <input type="submit" name="confirm_add" value="Refuser" />
                                    </form>
                                
                                </a>
                            </li>

                        </ul>
                    </li>
                
                    <li class="nav-header">
                        <a data-toggle="collapse" data-target="#menu3">
                            Ajouter un contact <i class="glyphicon glyphicon-plus"></i>
                        </a>

                        <ul th:if="${(param.add_request != null)}" class="nav nav-stacked collapse in" id="menu3">

                            <li class="contact_acolor">
                                <a href="#">
                                    <form id="add_contact_form" th:action="@{/user_page/adduser}"
                                          method="post">
                                        <input type="text" th:field="*{user_added.value}"
                                               value="Saisir un pseudo" name="value" required="required" /> <input type="submit" 
                                                                                               value="Ok" />
                                    </form>
                                </a>
                            </li>
                            <li class="add-contact-warning" th:if="${(param.add_request[0] == 'you_cannot_add_yourself')}">
                                Vous ne pouvez pas vous ajouter vous-même!
                            </li>
                            <li class="add-contact-warning" th:if="${(param.add_request[0] == 'user_does_not_exist')}">
                                L'utilisateur que vous avez demandé n'existe pas.
                            </li>
                            <li class="add-contact-confirm" th:if="${(param.add_request[0] == 'ok')}">
                                Demande d'ajout envoyée.
                            </li>
                            <li class="add-contact-warning" th:if="${(param.add_request[0] == 'user_already_in_list')}">
                                L'utilisateur demandé est déjà dans votre liste de contact.
                            </li>
                            <li class="add-contact-warning" th:if="${(param.add_request[0] == 'user_already_requested')}">
                                Demande d'ajout déjà envoyée, en cours d'attente de validation.
                            </li>



                        </ul>
                        <ul th:if="${(param.add_request == null)}" class="nav nav-stacked collapse" id="menu3">

                            <li class="contact_acolor">
                                <a href="#">
                                    <form id="add_contact_form" th:action="@{/user_page/adduser}"
                                          method="post">
                                        <input type="text" th:field="*{user_added.value}"
                                               value="Saisir un pseudo" name="value" /> <input type="submit"
                                                                                               value="Ok" />
                                    </form>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-header">
                        <a data-toggle="collapse"
                           data-target="#userMenu">
                            Vos contacts <i class="glyphicon glyphicon-chevron-down"></i>
                        </a>
                        <ul class="nav nav-stacked collapse in" id="userMenu">
                  
                            <li class="contact-short-info" th:if="${(contacts == null) or (contacts.size() == 0)}">
								Votre liste de contacts est vide.
                            </li>
                            <li th:each="userC : ${contacts}">
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i> <span th:text="${userC.pseudo}"></span>
                                </a>
                            </li>
                        </ul>
                    </li>



                    <li class="nav-header">
                        <a data-toggle="collapse"
                           data-target="#menu2">
                            Tout le monde <i class="glyphicon glyphicon-chevron-right"></i>
                        </a>

                        <ul class="nav nav-stacked collapse" id="menu2">
                            <li th:each="user : ${users}">
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i> <span th:text="${user.pseudo}"></span>
                                </a>
                            </li>


                        </ul>
                    </li>

                </ul>


            </div>
            <!-- /col-3 -->


            <div class="col-sm-9">
                <!-- column 2 -->

                <a href="#"><i class="glyphicon glyphicon-list"></i> <strong>Cercles</strong></a>
                <hr />
                <div class="row">
                    <!-- center left-->
                    <div class="col-md-6 col-md-6-wide">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                    	<th></th>
                                        <th>Cercle</th>
                                        <th>Description</th>
                                        <th>Propriétaires</th>
                                        <th>Membres</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                	<tr th:each="cercle : ${user_cercles_admin}">
                                		<td><i class="glyphicon glyphicon-eye-open" rel="tooltip" title="Vous êtes propriétaire de ce cercle"></i></td>
                                		<td><a th:text="${cercle.name}" th:href="@{'/cercle_page?cercle='+${cercle.id}}"></a></td>
                                		<td th:text="${cercle.description}"></td>
                                		<td>
                                			<span th:if="${cercle.administrateurs.size()>0}" th:text="${cercle.administrateurs[0].pseudo}"></span>                                						 
											<a data-toggle="collapse" th:if="${cercle.administrateurs.size()>1}" th:attr="data-target='.cercles_user_list_'+${cercle.name}" >...</a>
					                        <ul th:if="${cercle.administrateurs.size()>1}" th:attr="class='nav nav-stacked collapse cercles_user_list_'+${cercle.name}">
					                            <li class="contact_acolor"  th:each="admin, iterStat : ${cercle.administrateurs}"> 													
													<span th:if="${iterStat.count>1}" th:text="${admin.pseudo}"></span>   
					                            </li>
					                        </ul>
					                    </td>
                                		<td>
                                			<span th:if="${cercle.utilisateurs.size()>0}" th:text="${cercle.utilisateurs[0].pseudo}"></span>                                						 
											<a data-toggle="collapse" th:if="${cercle.utilisateurs.size()>1}" th:attr="data-target='.cercles_user_list_'+${cercle.name}" >...</a>
					                        <ul class="nav nav-stacked collapse" th:if="${cercle.utilisateurs.size()>1}" th:attr="class='nav nav-stacked collapse cercles_user_list_'+${cercle.name}">
					                            <li class="contact_acolor"  th:each="user, iterStat : ${cercle.utilisateurs}"> 													
													<span th:if="${iterStat.count>1}" th:text="${user.pseudo}"></span>   
					                            </li>
					                        </ul>
					                    </td>
					                    <td>
											<a th:href="@{'/cercle_param?cercle='+${cercle.id}}"><i class="glyphicon glyphicon-cog" rel="tooltip" title="Modifier le cercle"></i></a>
					                    </td>
                                	</tr>
                                	<tr th:each="cercle2 : ${user_cercles_membre}">
                                		<td></td>
                                		<td><a th:href="@{'/cercle_page?cercle='+${cercle2.id}}" th:text="${cercle2.name}"></a></td>
                                		<td th:text="${cercle2.description}"></td>
                                		<td>
                                			<span th:if="${cercle2.administrateurs.size()>0}" th:text="${cercle2.administrateurs[0].pseudo}"></span>                                						 
											<a data-toggle="collapse" th:if="${cercle2.administrateurs.size()>1}" th:attr="data-target='.cercles_user_list_'+${cercle2.name}" >...</a>
					                        <ul th:if="${cercle2.administrateurs.size()>1}" th:attr="class='nav nav-stacked collapse cercles_user_list_'+${cercle2.name}">
					                            <li class="contact_acolor"  th:each="admin2, iterStat : ${cercle2.administrateurs}"> 													
													<span th:if="${iterStat.count>1}" th:text="${admin2.pseudo}"></span>   
					                            </li>
					                        </ul>
					                    </td>
                                		<td>
                                			<span th:if="${cercle2.utilisateurs.size()>0}" th:text="${cercle2.utilisateurs[0].pseudo}"></span>                                						 
											<a data-toggle="collapse" th:if="${cercle2.utilisateurs.size()>1}" th:attr="data-target='.cercles_user_list_'+${cercle2.name}" >...</a>
					                        <ul th:if="${cercle2.utilisateurs.size()>1}" th:attr="class='nav nav-stacked collapse cercles_user_list_'+${cercle2.name}">
					                            <li class="contact_acolor"  th:each="user2, iterStat : ${cercle2.utilisateurs}"> 													
													<span th:if="${iterStat.count>1}" th:text="${user2.pseudo}"></span>   
					                            </li>
					                        </ul>
					                    </td>
					                    <td></td>
                                	</tr>
                                	
                                	<!-- 
                                	
                                    <tr>
                                        <td>Cercle 1</td>
                                        <td>Franck</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>..</td>
                                        <td>..</td>
                                        <td>..</td>
                                    </tr>
                                    
                                    -->

                                </tbody>
                            </table>
                        </div>
                        
                        
                        <br/>
                        <a th:href="@{/cercle_create_access}"><button class="btn btn-primary btn-lg">Créer un nouveau cercle</button></a> 
                        
                    </div>
                </div>


            </div>
            <!--/col-span-9-->
        </div>
    </div>






    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="boardstyle/js/bootstrap.min.js"></script>
    <script src="boardstyle/js/scripts.js"></script>


</body>
</html>


