<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Cercle - Page paramètre utilisateur</title>

<link href="boardstyle/css/bootstrap.min.css" rel="stylesheet" />
<link href="boardstyle/css/styles.css" rel="stylesheet" />

</head>
<body>
	<!-- header -->
	<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">

				<img class="short-img" src="../corlate/img/cercle_logo_min.png"
					alt="logo" />
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a class="dropdown-toggle" role="button"
						data-toggle="dropdown" href="#"><i
							class="glyphicon glyphicon-user"></i> <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
							<span class="caret"></span></a>
						<ul id="g-account-menu" class="dropdown-menu" role="menu">
							<li><a href="user_page"><i
									class="glyphicon glyphicon-cog"></i> Retour page d'accueil</a></li>
							<li><a th:href="@{/logout}"><i
									class="glyphicon glyphicon-off"></i> Se déconnecter</a></li>
						</ul></li>

				</ul>
			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /Header -->


	<div id="user_page-title">
		<h2>Paramètres utilisateurs</h2>
		<p>Vous pouvez ici modifier les différentes informations liés à
			votre compte.</p>
	</div>

	<div class="container-fluid">
		<form id="main-param-form" class="param-form" method="post">

			<div class="row">
				<div class="col-sm-5 col-sm-offset-1">
					<div class="form-group">
						<label>Nom *</label> <input type="text" name="nom"
							class="form-control" />
					</div>
					<div class="form-group">
						<label>Prénom *</label> <input type="text" name="prenom"
							class="form-control" />
					</div>
					<div class="form-group">
						<label>Mot de passe *</label> <input type="password"
							name="password1" class="form-control" />
					</div>

					<div class="form-group">
						<label>Confirmez le mot de passe *</label> <input type="password"
							name="password2" class="form-control" />
					</div>

					<div class="form-group">
						<label>E-mail *</label> <input type="email" name="email"
							class="form-control" />
					</div>

				</div>
				<div class="col-sm-5">
					<div class="form-group">
						<label>Téléphone</label> <input type="text" name="tel"
							class="form-control" />
					</div>
					<div class="form-group">
						<label>Rue</label> <input type="text" name="rue"
							class="form-control" />
					</div>
					<div class="form-group">
						<label>Ville</label> <input type="text" name="ville"
							class="form-control" />
					</div>
					<div class="form-group">
						<label>Code postal :</label> <input type="text" name="cp"
							class="form-control" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group" align="center">
						<button type="submit" name="submit" class="btn btn-primary btn-lg">Valider</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script src="boardstyle/js/bootstrap.min.js"></script>
	<script src="boardstyle/js/scripts.js"></script>

</body>
</html>


